.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: calc(100vh - 60px);

	.imgWrappper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		.img {
			width: 80%;
			height: 80%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

@media (max-width: 950px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 60px 10px;

		.imgWrappper {
			display: none;
		}
	}
}

@media (max-width: 580px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 60px 10px;
	}
}
